.perks__item {
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100%;
	padding: 20px 20px 0 20px;
}

.perks__item img {
	margin-bottom: 18px;
	width: 100%;
	height: auto;
	max-width: 130px;
}

.perks__item h2 {
	margin-top: 0;
    font-size: 20px;
}

.perks__item p {
	font-size: 16px;
}

@media(min-width: 600px) {
	.perks__item {
		width: 50%;
        flex-basis: 50%;
	}
}

@media(min-width: 1080px) {
	.perks__item {
		flex-basis: 25%;
		flex-grow: 1;
		max-width: calc(100% / 3);
		padding-left: 40px;
		padding-right: 40px;
	}
}